/*
font-family: 'Orbitron', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Staatliches', cursive;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../media/nintendo.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    font-family: 'Rajdhani', sans-serif;
    position: relative;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.marca {
    display: flex;
    margin: 3px;
    padding: 3px;
}

.logo {
    width: 60px;
    flex-direction: row;
}

h1 {
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    margin-left: 5px;
    text-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1), 0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1), 0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1), 0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1), 0 0 180px rgba(38, 104, 127, 1);
}

.eslogan {
    color: whitesmoke;
    font-family: 'Staatliches', cursive;
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
}

.buscador {
    font-family: 'Rajdhani', sans-serif;
    display: inline-block;
    color: whitesmoke;
    width: 30%;
    border: solid whitesmoke 1px;
    border-radius: 3px;
}

.redes {
    display: inline-flex;
    justify-content: space-evenly;
    margin-right: 5px;
}

.redes img {
    width: 32px;
    flex-direction: row;
    margin-right: 5px;
}

.img1 {
    height: auto;
    margin-bottom: 0%;
    width: 100%;
}

.navegador {
    position: sticky;
    top: 5px;
}

.menu1 {
    background-image: linear-gradient(315deg, #2a2a72 0%, #00a0fdcc 74%);
    background-size: cover;
    list-style-type: none;
    text-align: center;
    margin-top: 0%;
}

.menu1 li {
    display: inline-block;
    margin: 0 10px;
    padding: 5px;
    font-size: 1.5rem;
    font-family: 'Rajdhani', sans-serif;
    position: relative;
}

.menu1 li a {
    text-decoration: none;
    color: white;
}

.menu1 li a:hover {
    color: #0b3a92;
    background-color: rgb(205, 205, 243);
}

.centro {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "categorias productos productos productos productos productos" "categorias productos productos productos productos productos" "recreo recreo recreo recreo recreo recreo";
}

.categorias {
    width: 200px;
    background-color: #2758b3;
    margin: 10px;
    padding: 10px;
    color: whitesmoke;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 2px;
    grid-area: categorias;
}

.categorias ul li:hover {
    color: rgb(152, 189, 224);
    font-size: 105%;
}

.articulos {
    margin: 10px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: stretch;
    grid-area: productos;
}

.articulos div {
    background-color: white;
    margin: 10px;
    border: solid grey 2px;
    border-radius: 3%;
    text-align: center;
    transition: all 0.5s;
}

.articulos div:hover {
    transform: scale(1.02, 1.02);
}

.catgamer:hover {
    background-color: rgb(146, 40, 150);
    color: whitesmoke;
}

.recreo {
    background-color: whitesmoke;
    justify-items: center;
    grid-area: recreo;
}

.recreo__titulo {
    display: block;
    width: 100%;
    color: whitesmoke;
    background-image: linear-gradient(315deg, #2a2a72 0%, #0019fdcc 74%);
    padding: 10px;
}

.recreo div {
    display: inline-block;
    justify-content: center;
    margin: 10px;
}

.consejo {
    background-image: radial-gradient(ellipse, black, rgb(83, 36, 36), red);
    margin: 10px;
    display: block;
    color: whitesmoke;
    padding: 10px;
    justify-content: center;
}

.consejo img {
    flex-direction: row;
}

.consejo h2 {
    flex-direction: column;
}

.consejo p {
    flex-direction: column;
}

.direcMapa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formulario {
    width: 700px;
    margin: 20px;
    padding: 10px;
    background-image: linear-gradient(315deg, #2a2a72 0%, #00a0fdcc 74%);
    letter-spacing: 2px;
    color: aliceblue;
    text-indent: 20px;
}

.ubicacion {
    width: 700px;
    margin: 20px;
    padding: 10px;
    background-image: linear-gradient(315deg, #2a2a72 0%, #00a0fdcc 74%);
    letter-spacing: 2px;
    color: aliceblue;
    text-align: center;
}

.submenu {
    display: none;
    position: absolute;
}

.menu1 li:hover .submenu {
    display: block;
    text-align: start;
    font-size: 60%;
    background-image: linear-gradient(315deg, #2a2a72 0%, #0019fdcc 74%);
}

input.enviarForm {
    text-transform: capitalize;
}

footer {
    padding: 10px;
    display: flex;
    background-image: linear-gradient(315deg, #2a2a72 0%, #0019fdcc 74%);
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.footer__marca {
    flex-direction: column;
    align-items: center;
}

.dire {
    font-size: large;
    color: whitesmoke;
}


/*Para celulares hasta 480 px*/

@media screen and (max-width: 480px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo {
        display: none;
    }
    h1 {
        font-size: 30px;
    }
    .eslogan {
        font-size: 15px;
    }
    .buscador {
        width: 90%;
    }
    .redes {
        display: none;
    }
    .menu1 li {
        display: block;
        justify-content: flex-start;
        padding: 0%;
        border-bottom-left-radius: solid 1px white;
        font-size: 15px;
    }
    .img1 {
        height: auto;
        margin-bottom: 0%;
    }
    .centro {
        grid-template-columns: 1fr;
        flex-direction: column;
    }
    .categorias {
        display: none;
    }
    .productos {
        justify-content: space-evenly;
    }
    .recreo {
        display: none;
        margin: 5px;
        padding: auto;
    }
    footer {
        display: block;
    }
    .footer1 {
        text-align: center;
        justify-content: center;
    }
    .foter2 {
        font-size: 10px;
    }
}


/*Para celulares hasta 960 px*/

@media screen and (max-width: 960px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo {
        display: none;
    }
    h1 {
        font-size: 30px;
    }
    .eslogan {
        font-size: 15px;
    }
    .buscador {
        width: 80%;
    }
    .redes {
        display: none;
    }
    .menu1 li {
        flex-direction: column;
        justify-content: flex-start;
    }
    .img1 {
        height: auto;
        margin-bottom: 0%;
        width: 100%;
    }
    .centro {
        grid-template-columns: 2fr;
        flex-direction: column;
    }
    .categorias {
        display: none;
    }
    .productos {
        justify-content: space-evenly;
    }
    .recreo {
        width: 90%;
        flex-direction: column;
        justify-content: flex-start;
    }
    iframe {
        width: 480px;
    }
    footer {
        display: block;
    }
    .footer1 {
        text-align: center;
        justify-content: center;
    }
    .foter2 {
        font-size: 10px;
    }
}